{% extends "about/base.html" %}

{% block title %}Emanuel Gardaya Calso{% endblock %}

{% block page_title %}Eman Calso{% endblock %}

{% block content %}
	<p>I don't wear bad glasses or suspenders and I don't glow in the dark.</p>
	<p>I don't like pocket protectors and no, I don't know Edwin, Marty or Linda in the I.T. department at Ebay although I'm certain they're pulling down great salaries...</p>
	<p>I like caffeine.</p>
	<p>I prefer to code in <strong>Perl</strong> or <strong>Python</strong>, not Visual Basic, and it's pronounced Li-nix, Leen-ooks or Line-ux. Whatever makes you happy.</p>
	<p>I can proudly wear a t-shirt from another company and still look cool.</p>
	<p>I believe in innovation, not obfuscation; peer review, not patent wars, and that the penguin is a cute but fearsome animal!</p>
	<p>Geeks are the second best paid people in the world, first to be blamed for technical problems, and the <strong>only</strong> reason why civilization doesn't crumble into around your ears!</p>
	<p>My name is <strong>Eman</strong>, and I am a geek.</p>
{% endblock content %}
