{% extends base_template %}

{% block title %}
Home
{% endblock %}

{% block page_title %}
Metro Manila Traffic
{% endblock %}

{% block content %}
	{% for road in roads %}
	<div class="roads ui-widget">
		<h3 class="ui-widget-header">
			<a href="{% url show_road theme road.slug %}">
			{{ road.name }}
			<span class="road-status"></span>
			</a>
		</h3>
		<div class="road-block">
			Waiting for update.
		</div>
	</div>
	{% endfor %}
{% endblock %}

{% block extrascripts %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.mousewheel.js"></script>
	<script type="text/javascript">
		{% if not request.GET.full %}
		if (Modernizr.touch){
			// bind to touchstart, touchmove, etc and watch `event.streamId`
			window.location = '{% url mobile-home %}';
		} else {
			// bind to normal click, mousemove, etc
		}
		{% endif %}
		$(document).ready(function () {
			$('.roads').accordion({
				// Expanding everything because of the error on getting the scrollbar size for the slider
				active: 0,
				autoHeight: false,
				collapsible: true,
				navigation: true
			});
			/* Activate roads with updates
			$('.active-road').accordion({
				active: 0
			});
			*/
			$('#content-container').sortable({
				distance: 32
			});
			// Load road sections
			reloadBlock = function (el, retract) {
				var div_clear = $('<div class="clear">&nbsp;</div>');
				var progress = $('<p class="progress-bar"></p>Loading...<br />');
				var link = el.find('h3 a');
				var url = link.attr('href');
				var block = el.find('.road-block');
				var road_status = el.find('.road-status');
				var p_value = 0;
				block.append(div_clear);
				block.append(progress);
				var updateProgress = function () {
					p_value = p_value + 2.5;
					progress.progressbar({value: p_value});
					if (p_value >= 100) {
						return;
					};
					setTimeout(updateProgress, 100);
				};
				setTimeout(updateProgress, 100);
				block.load(url, 
					function () {
						road_status.text(el.find('.latest-road-status').text());
						el.find('.latest-road-status').hide();
						el.find('.refresh-link').click(function () {
							reloadBlock(el, false);
							return false;
						});
						//el.accordion('resize');
						el.find('.road').each(function () {
							// Resize element that contains all the sections
							var el1 = $(this);
							var width = parseInt(el1.attr('count')) * (148 + 4);
							el1.find('.traffic').css({width: width + 'px'});
						});
						el.find('.road').each(function (){
							//scrollpane parts
							var scrollPane = $( this ),
							scrollContent = scrollPane.find( ".traffic" );
							// function for mousewheel
							var moveScrollContent = function(e, delta) {
								// Scroll twice as fast
								delta = delta * 2;
								scrollbar.slider("value", scrollbar.slider("value") - delta);
								if ( scrollContent.width() > scrollPane.width() ) {
									var orig_margin = scrollContent.css( "margin-left");
									if (isNaN(orig_margin)) {
										orig_margin = parseInt(orig_margin.replace('px', ''));
									};
									var margin = orig_margin + Math.round(
										(0-delta) / 100 * ( scrollPane.width() - scrollContent.width() )
									);
									//TODO calculate the correct value/values for when to stop
									// 850 was used from observation.
									if (scrollContent.width() + margin <= 850) {
										return false;
									};
									if (margin > 0) {
										return false;
									};
									scrollContent.css( "margin-left",  margin + "px" );
								} else {
									scrollContent.css( "margin-left", 0 );
								};
								return false;
							};
							var slideContent = function( event, ui ) {
								if ( scrollContent.width() > scrollPane.width() ) {
									scrollContent.css( "margin-left", Math.round(
										ui.value / 100 * ( scrollPane.width() - scrollContent.width() )
									) + "px" );
								} else {
									scrollContent.css( "margin-left", 0 );
								}
							};
							//build slider
							var scrollbar = scrollPane.find( ".scroll-bar" ).slider({
								slide: slideContent
							}).bind("slide slidechange", function(e, ui) {
								var val = ui.value;
								// Handle the slider event here
							}).mousewheel(moveScrollContent);
							scrollPane.mousewheel(moveScrollContent);
							//append icon to handle
							var handleHelper = scrollbar.find( ".ui-slider-handle" )
							.mousedown(function() {
								scrollbar.width( handleHelper.width() );
							})
							.mouseup(function() {
								scrollbar.width( "100%" );
							})
							.append( "<span class='ui-icon ui-icon-grip-dotted-vertical'></span>" )
							.wrap( "<div class='ui-handle-helper-parent'></div>" ).parent();
							//change overflow to hidden now that slider handles the scrolling
							scrollPane.css( "overflow", "hidden" );
							//size scrollbar and handle proportionally to scroll distance
							function sizeScrollbar() {
								//TODO Assign a default width when the widths are 0
								var remainder = scrollContent.width() - scrollPane.width();
								var proportion = remainder / scrollContent.width();
								var handleSize = scrollPane.width() - ( proportion * scrollPane.width() );
								scrollbar.find( ".ui-slider-handle" ).css({
									width: handleSize,
									"margin-left": -handleSize / 2
								});
								handleHelper.width( "" ).width( scrollbar.width() - handleSize );
							}
							//reset slider value based on scroll content position
							function resetValue() {
								var remainder = scrollPane.width() - scrollContent.width();
								var leftVal = scrollContent.css( "margin-left" ) === "auto" ? 0 :
									parseInt( scrollContent.css( "margin-left" ) );
								var percentage = Math.round( leftVal / remainder * 100 );
								scrollbar.slider( "value", percentage );
							}
							//if the slider is 100% and window gets larger, reveal content
							function reflowContent() {
									var showing = scrollContent.width() + parseInt( scrollContent.css( "margin-left" ), 10 );
									var gap = scrollPane.width() - showing;
									if ( gap > 0 ) {
										scrollContent.css( "margin-left", parseInt( scrollContent.css( "margin-left" ), 10 ) + gap );
									}
							}
							//change handle position on window resize
							$( window ).resize(function() {
								resetValue();
								sizeScrollbar();
								reflowContent();
							});
							//init scrollbar size
							setTimeout( sizeScrollbar, 10 );//safari wants a timeout
						});
						if (retract) {
							el.accordion({
								active: 1
							});
						}
					}
				);
			};
			// This is delayed to avoid having timeouts on the server
			$('.roads').each(function () {
				var el = $(this);
				reloadBlock(el, true);
			});
		});
	</script>
{% endblock %}

