\#*.*#
*.*~
*.sql
*.py[co]
*_local.py
*.sw[po]
.directory
.DS_Store
*.bak
*.log
*.sh
.project
.pydevproject
.settings/
*.pid
.svn
.bzr
*.db
local_*.py
locale/*/*/*.mo
bak
#migrations
media/uploads
media/tmp
alters.sql
restart.sql
env
Session.vim
uploads
