{% extends "mobile/base.html" %}

{% block title %}Home{% endblock %}

{% block page_title %}
	<h1>Roads</h1>
{% endblock %}

{% block main %}
	{% for road in roads %}
	<ul data-role="listview" data-inset="true" data-theme="b">
		<li><a href="#">{{ road.name }}</a></li>
		<li data-theme="c"><a href="{% url mobile-show_road road.slug %}?d=n">Northbound</a></li>
		<li data-theme="c"><a href="{% url mobile-show_road road.slug %}?d=s">Southbound</a></li>
	</ul>
	{% endfor %}
{% endblock %}

{% block extrascripts %}
	<script type="text/javascript">
	$(document).ready(function() {
		// disable ajax nav
		$.mobile.ajaxLinksEnabled = false;
	});
	</script>
{% endblock %}
