{% extends "mobile/base.html" %}

{% block title %}{{ road.name }} {{ direction }}{% endblock %}

{% block page_title %}
	<h2>{{ road.name }} {{ direction }}</h2>
	<a href="{% url mobile-home %}" data-icon="arrow-l">Back</a>
{% endblock %}

{% block main %}
	<ul data-role="listview">
	{% for section in sections %}
	<li><a href="#" class="rate{{ section.latest_rating }}">{{ section.name }} ({% if section.get_latest_rate %}{{ section.get_rate_name }}{% else %}No recent updates{% endif %})</a>
	<ul>
		{% if section.get_latest_rate %}
		<li>
			{{ section.get_rate_name }} as of
			{{ section.latest_status_at|time }}
		</li>
		{% if section.get_latest_rate.reason %}
		<li><p>{{ section.get_latest_rate.reason }}</p></li>
		{% endif %}
		{% else %}
		<li><p>No recent updates.</p></li>
		{% endif %}
	</ul>
	</li>
	{% endfor %}
	</ul>
{% endblock %}
