{% extends "base.html" %}

{% block title %}
    {% if road %}
    Update {{ road }}
    {% else %}
    Create New Road
    {% endif %}
{% endblock %}

{% block main %}
    <div id="main" class="grid_11 content">
        <h2>
            {% if road %}
            Update {{ road }}
            {% else %}
            Create New Road
            {% endif %}
        </h2>
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <ul>
                {{ form.as_ul }}
            </ul>
            <input type="submit" value="Save" />
        </form>
    </div>
    <div class="grid_5 content">
        {% if road %}
        <a href="{% url road_delete road.pk %}" title="Delete Road">Delete</a>
        {% endif %}
        <a href="{% url road_list %}" title="Road List">Back to List</a>
    </div>
{% endblock %}
