{% extends "base.html" %}

{% block title %}
    Section Details
{% endblock %}

{% block main %}
    <div id="main" class="grid_11 content">
        <h2>{{ section }}</h2>
        {# Details here. #}
        <ul>
            <li>
            {{ section }}
            </li>
        </ul>
    </div>
    <div class="grid_5 content">
        <a href="{% url section_edit section.pk %}" title="Edit Section">Edit</a>
        <a href="{% url section_delete section.pk %}" title="Delete Section">Delete</a>
        <a href="{% url section_list %}" title="Section List">Back to List</a>
    </div>
{% endblock %}
