{% extends "base.html" %}

{% block title %}
    Situation List
{% endblock %}

{% block main %}
    <div id="main" class="grid_11 content">
        <h2>Situation</h2>

        {% if object_list %}
        <form method="post" action="">
            {% csrf_token %}
            <ul class="object_list">
            {% for situation in situation_list %}
                <li>
                <input type="checkbox" name="situation" value="{{ situation.pk }}" />
                {{ situation }}
                <a href="{% url situation_show situation.pk %}" title="Show Details">Show</a>
                <a href="{% url situation_edit situation.pk %}" title="Edit Situation">Edit</a>
                <a href="{% url situation_delete situation.pk %}" title="Delete Situation">Delete</a>
                </li>
            {% endfor %}
            </ul>
            <div>
            <input type="hidden" name="action" value="delete" />
            <input type="submit" value="Delete Selected" />
            </div>
        </form>
        {% endif %}
    </div>
    <div class="grid_5 content">
        {% if paginator.num_pages > 1 %}
        <h3>Pages</h3>
        {% include 'pagination.html' %}
        {% endif %}
        {% if search_form %}
        <h3>Search</h3>
        <form class="search-form">
        {{ search_form.as_p }}
        <p>
            <input type="submit" name="action" value="Search" />
        </p>
        </form>
        {% endif %}
        <a href="{% url situation_new %}" title="Create New Situation">New Situation</a>
    </div>
{% endblock %}
