{% extends "base.html" %}

{% block title %}
    {% if situation %}
    Update {{ situation }}
    {% else %}
    Create New Situation
    {% endif %}
{% endblock %}

{% block main %}
    <div id="main" class="grid_11 content">
        <h2>
            {% if situation %}
            Update {{ situation }}
            {% else %}
            Create New Situation
            {% endif %}
        </h2>
        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <ul>
                {{ form.as_ul }}
            </ul>
            <input type="submit" value="Save" />
        </form>
    </div>
    <div class="grid_5 content">
        {% if situation %}
        <a href="{% url situation_delete situation.pk %}" title="Delete Situation">Delete</a>
        {% endif %}
        <a href="{% url situation_list %}" title="Situation List">Back to List</a>
    </div>
{% endblock %}
