{% extends "base.html" %}

{% block title %}
    User List
{% endblock %}

{% block main %}
    <div id="main" class="grid_11 content">
        <h2>User</h2>

        {% if object_list %}
        <form method="post" action="">
            {% csrf_token %}
            <ul class="object_list">
            {% for user in user_list %}
                <li>
                <input type="checkbox" name="user" value="{{ user.pk }}" />
                {{ user }}
                <a href="{% url user_show user.pk %}" title="Show Details">Show</a>
                <a href="{% url user_edit user.pk %}" title="Edit User">Edit</a>
                <a href="{% url user_delete user.pk %}" title="Delete User">Delete</a>
                </li>
            {% endfor %}
            </ul>
            <div>
            <input type="hidden" name="action" value="delete" />
            <input type="submit" value="Delete Selected" />
            </div>
        </form>
        {% endif %}
    </div>
    <div class="grid_5 content">
        {% if paginator.num_pages > 1 %}
        <h3>Pages</h3>
        {% include 'pagination.html' %}
        {% endif %}
        {% if search_form %}
        <h3>Search</h3>
        <form class="search-form">
        {{ search_form.as_p }}
        <p>
            <input type="submit" name="action" value="Search" />
        </p>
        </form>
        {% endif %}
        <a href="{% url user_new %}" title="Create New User">New User</a>
    </div>
{% endblock %}
