{% extends "base.html" %}

{% block title %}
Create Road
{% endblock %}

{% block page_title %}
Create Road
{% endblock %}

{% block content %}
	<div class="grid_4">
		&nbsp;
	</div>
	<div class="grid_8">
		<p>Create a new road and their appropriate nodes.</p>
	</div>
	<div class="clear">&nbsp;</div>
	<form method="post">
		{% csrf_token %}
		<div class="grid_4">&nbsp;</div>
		<div class="grid_8">
			<table>
			{{ form.as_table }}
			</table>
		</div>
		<div class="clear">&nbsp;</div>
		<div class="grid_4">&nbsp;</div>
		<div class="grid_8" id="form-submit">
			<label id="update-button-label" for="update-button">Create</label>
			<input type="submit" id="update-button" name="update" value="Update" />
		</div>
	</form>
{% endblock %}
