{% extends "base.html" %}

{% block title %}
Update {{ road }}
{% endblock %}

{% block content %}
	<form method="post">
		{% csrf_token %}
		<div class="grid_6 road">
			<h3>Northbound</h3>
			<table class="edit-traffic">
			<tbody>
			{% for section in northbound %}
				<tr>
					<th>{{ section.name }}</th>
					{% for r_id, name in ratings %}
					<td class="rate{{ r_id }} td-section">
						<input type="radio" id="rate-{{ section.id }}" name="rate-{{ section.id }}" value="{{ r_id }}" />
					</td>
					{% endfor %}
				</tr>
			{% endfor %}
			</tbody>
			</table>
		</div>
		<div class="grid_6 road">
			<h3>Southbound</h3>
			<table class="edit-traffic">
			<tbody>
			{% for section in southbound %}
				<tr>
					<th>{{ section.name }}</th>
					{% for r_id, name in ratings %}
					<td class="rate{{ r_id }} td-section">
						<input type="radio" id="rate-{{ section.id }}" name="rate-{{ section.id }}" value="{{ r_id }}" />
					</td>
					{% endfor %}
				</tr>
			{% endfor %}
			</tbody>
			</table>
		</div>
		<div class="grid_3" id="legend">
			{% include 'legend.html' %}
		</div>
	</form>
{% endblock %}
