{% extends "base.html" %}

{% block title %}
Update
{% endblock %}

{% block content %}
	<form method="post">
		{% csrf_token %}
		<div class="grid_6 road">
			<h3>Northbound</h3>
			<table class="edit-traffic">
			<tbody>
			{% for section in northbound %}
				<tr>
					<th>{{ section.name }}</th>
					{% for r_id, name in ratings %}
					<td class="rate{{ r_id }} td-section">
						<input type="radio" id="rate-{{ section.id }}" name="rate-{{ section.id }}" value="{{ r_id }}" />
					</td>
					{% endfor %}
				</tr>
			{% endfor %}
			</tbody>
			</table>
		</div>
		<div class="grid_6 road">
			<h3>Southbound</h3>
			<table class="edit-traffic">
			<tbody>
			{% for section in southbound %}
				<tr>
					<th>{{ section.name }}</th>
					{% for r_id, name in ratings %}
					<td class="rate{{ r_id }} td-section">
						<input type="radio" id="rate-{{ section.id }}" name="rate-{{ section.id }}" value="{{ r_id }}" />
					</td>
					{% endfor %}
				</tr>
			{% endfor %}
			</tbody>
			</table>
		</div>
		<div class="grid_3" id="legend">
			<h3>Legend</h3>
			<!--<span class="section section0">&nbsp;</span>Clear<br />-->
			<span class="section rate1">&nbsp;</span>Clear<br />
			<span class="section rate2">&nbsp;</span>Fast Moving<br />
			<span class="section rate3">&nbsp;</span>Light<br />
			<span class="section rate4">&nbsp;</span>Light to Moderate<br />
			<span class="section rate5">&nbsp;</span>Moderate<br />
			<span class="section rate6">&nbsp;</span>Moderate to Heavy<br />
			<span class="section rate7">&nbsp;</span>Heavy<br />
			<span class="section rate8">&nbsp;</span>Unpassable<br />
			<input type="submit" />
		</div>
	</form>
{% endblock %}
