{% extends "base.html" %}

{% block title %}
Update {{ road_name }}
{% endblock %}

{% block content %}
	<form method="post">
		{% csrf_token %}
		<div class="grid_8 road">
			<h3>Northbound</h3>
			<table class="edit-traffic">
			<tbody>
			{% for section in northbound %}
				<tr>
					<th>{{ section.name }}</th>
					{% for r_id, r_name in ratings %}
					<td class="rate{{ r_id }} td-section">
						<label for="rate-{{ section.id }}-{{ r_id }}">{{ r_name }}</label>
						<input type="radio" id="rate-{{ section.id }}-{{ r_id }}" name="rate-{{ section.id }}" value="{{ r_id }}" />
					</td>
					{% endfor %}
				</tr>
			{% endfor %}
			</tbody>
			</table>
		</div>
		<div class="grid_8 road">
			<h3>Southbound</h3>
			<table class="edit-traffic">
			<tbody>
			{% for section in southbound %}
				<tr>
					<th>{{ section.name }}</th>
					{% for r_id, r_name in ratings %}
					<td class="rate{{ r_id }} td-section">
						<label for="rate-{{ section.id }}-{{ r_id }}">{{ r_name }}</label>
						<input type="radio" id="rate-{{ section.id }}-{{ r_id }}" name="rate-{{ section.id }}" value="{{ r_id }}" />
					</td>
					{% endfor %}
				</tr>
			{% endfor %}
			</tbody>
			</table>
		</div>
		<div class="clear">&nbsp;</div>
		<div class="grid_16" id="form-submit">
			<label id="update-button-label" for="update-button">Update</label>
			<input type="submit" id="update-button" name="update" value="Update" />
		</div>
	</form>
{% endblock %}

{% block extrascripts %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('input[type=radio]').click(function () {
				var parent_td = $(this).parent();
				var parent_th = $(parent_td).siblings('th');
				// Assign new class to th
				$(parent_th).attr('class', parent_td.attr('class'));
			});
		});
	</script>
{% endblock %}
