{% extends "base.html" %}

{% block title %}
Road Grid
{% endblock %}

{% block page_title %}
Road Grid
{% endblock %}

{% block content %}
	<div class="grid_16 road">
		<div class="road-block">
			<a class="road-link" href="{% url road_list %}">Road List</a>
			<a class="road-link" href="{% url create_road %}">Create Road</a>
			<a class="road-link" href="{% url node_list %}">Node List</a>
			<a class="road-link" href="{% url node_new %}">Create Node</a>
			<a class="road-link" href="{% url generate_sections %}">Generate Sections</a>
		</div>
	</div>
{% endblock %}

{% block legend %}
{% endblock legend %}
