{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block page_title %}
Metro Manila Traffic
{% endblock %}

{% block content %}
	<div class="grid_16 road">
        <p>Choose a road.</p>
		<div class="road-block">
			{% for road in roads %}
			<a class="road-link ui-corner-all" id="road-{{ road.pk }}" href="{% url show_road road.slug %}">
				{{ road.name }}
				<span class="latest-status">
				{% comment %}
				{% if road.get_latest_status %}
				as of {{ road.get_latest_status.status_at|time }}
				{% endif %}
				{% endcomment %}
				</span>
			</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block legend %}
{% endblock legend %}

{% block extrascripts %}
	<script type="text/javascript">
		{% if not request.GET.full %}
		if (Modernizr.touch){
			// bind to touchstart, touchmove, etc and watch `event.streamId`
			window.location = '{% url mobile-home %}';
		} else {
			// bind to normal click, mousemove, etc
		}
		{% endif %}
		$(document).ready(function () {
			var getRoadSummary = function () {
				var url = '/road_summary/';
				$.get(url, function (data) {
					$.each(data, function (i, item) {
						$.each(item.roads, function (j, road) {
							var el = $('#road-' + road.pk);
							for (k=3; k<=8; k++) {
								el.removeClass('rate' + k);
							};
							if (road.average) {
								el.addClass('rate' + road.average);
							};
							$(el).children('.latest-status').text(road.latest_status);
						});
					});
					setTimeout(getRoadSummary, 1000);
				});
			};
			setTimeout(getRoadSummary, 100);
		});
	</script>
{% endblock %}

