{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block page_title %}
Choose a Road
{% endblock %}

{% block content %}
	<div class="grid_16 road">
		<div class="road-block">
			{% for road in roads %}
			<a class="road-link rate{{ road.get_rate_median }}" href="{% url show_road road.slug %}">
				{{ road.name }}
				{% if road.get_latest_status %}
				as of {{ road.get_latest_status.status_at|time }}
				{% endif %}
			</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}

{% block legend %}
{% endblock legend %}
