{% extends "base.html" %}

{% block title %}
{{ road.name }}
{% endblock %}

{% block page_title %}
{{ road.name }}
{% if road.get_latest_status %}
(as off {{ road.get_latest_status.status_at|time }})
{% endif %}
{% endblock %}

{% block content %}
	{% if northbound %}
		<div class="grid_8 road">
			<h3>Northbound</h3>
			<ul class="traffic">
				{% for section in northbound %}
				{% include 'section.html' %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	{% if southbound %}
		<div class="grid_8 road">
			<h3>Southbound</h3>
			<ul class="traffic">
				{% for section in southbound %}
				{% include 'section.html' %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	{% if eastbound %}
		<div class="grid_8 road">
			<h3>Eastbound</h3>
			<ul class="traffic">
				{% for section in eastbound %}
				{% include 'section.html' %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}
	{% if westbound %}
		<div class="grid_8 road">
			<h3>Westbound</h3>
			<ul class="traffic">
				{% for section in westbound %}
				{% include 'section.html' %}
				{% endfor %}
			</ul>
		</div>
	{% endif %}
{% endblock %}

{% block extrascripts %}
	<script type="text/javascript">
		$(document).ready(function () {
			$('a.section').click(function () {
				var s_id = $(this).attr('relid');
				$('#section-info-' + s_id).fadeIn();
				return false;
			});
		});
	</script>
{% endblock %}
