{% extends "base.html" %}

{% block title %}
{{ road.name }}
{% endblock %}

{% block content %}
	<div class="grid_5 road">
		<h3>Northbound</h3>
		<ul class="traffic">
			{% for section in northbound %}
			{% include 'section.html' %}
			{% endfor %}
		</ul>
	</div>
	<div class="grid_5 road">
		<h3>Southbound</h3>
		<ul class="traffic">
			{% for section in southbound %}
			{% include 'section.html' %}
			{% endfor %}
		</ul>
	</div>
	<div class="grid_3" id="legend">
		{% include 'legend.html' %}
	</div>
{% endblock %}
