{% extends base_template %}

{% block title %}
Home
{% endblock %}

{% block page_title %}
Metro Manila Traffic
{% endblock %}

{% block content %}
	{% for road in roads %}
	<div class="roads ui-widget{% if road.get_latest_status %} active-road{% endif %}">
		<h3>
			<a href="{% url show_road theme road.slug %}">
			{{ road.name }}
			{% if road.get_latest_status %}
			as of <span class="road-status">{{ road.get_latest_status.status_at|time }}</span>
			{% endif %}
			</a>
		</h3>
		<div class="road-block">
		</div>
	</div>
	{% endfor %}
{% endblock %}

{% block extrascripts %}
	<script type="text/javascript" src="{{ STATIC_URL }}js/libs/jquery.mousewheel.js"></script>
	<script type="text/javascript">
		{% if not request.GET.full %}
		if (Modernizr.touch){
			// bind to touchstart, touchmove, etc and watch `event.streamId`
			window.location = '{% url mobile-home %}';
		} else {
			// bind to normal click, mousemove, etc
		}
		{% endif %}
		$(document).ready(function () {
			$('.progress-bar').progressbar({value: 25});
			$('#content-container').sortable({
				distance: 32
			});
			$('.roads').accordion({
				active: 1,
				autoHeight: false,
				collapsible: true,
				navigation: true
			});
			/* Activate roads with updates
			$('.active-road').accordion({
				active: 0
			});
			*/
			// Load road sections
			reloadBlock = function (el) {
				var progress = $('<p class="progress-bar"></p>Loading...<br />');
				var link = el.find('h3 a');
				var url = link.attr('href');
				var block = el.find('.road-block');
				var road_status = el.find('.road-status');
				var p_value = 0;
				block.prepend(progress);
				var updateProgress = function () {
					p_value = p_value + 5;
					progress.progressbar({value: p_value});
					if (p_value >= 100) {
						return;
					};
					setTimeout(updateProgress, 100);
				};
				setTimeout(updateProgress, 100);
				block.load(url, 
					function () {
						//el.accordion('resize');
						el.find('.refresh-link').click(function () {
							reloadBlock(el);
							return false;
						});
						road_status.text(el.find('.latest-road-status').text());
						el.find('.latest-road-status').hide();
						el.find('.road').each(function () {
							// Resize element that contains all the sections
							var el1 = $(this);
							var width = parseInt(el1.attr('count')) * (148 + 4);
							el1.find('.traffic').css({width: width + 'px'});
						});
						el.find('.traffic').each(function () {
							$(this).mousewheel(function (e, delta) {
								var orig_left = $(this).css('left');
								var width = $(this).css('width');
								// Assume the parent width
								var parent_width = 836;
								if (isNaN(width)) {
									width = parseInt(width.replace('px', ''));
								};
								if (isNaN(orig_left)) {
									orig_left = parseInt(orig_left.replace('px', ''));
								};
								delta = delta * 76;
								var new_left = orig_left + delta;
								if (delta > 0 && new_left > (76/2)) {
									//alert('stop at ' + new_left + ' added ' + delta);
									return false;
								};
								if (delta < 0 && width + new_left <= parent_width) {
									//alert((width + new_left) + ' stop ' + parent_width);
									return false;
								};
								//alert(width + new_left);
								$(this).css('left', new_left);
								return false;
							});
						});
						el.find('.traffic').draggable({
							axis: 'x',
							refreshPositions: true,
							grid: [76, 32]
						});
					}
				);
			};
			// This is delayed to avoid having timeouts on the server
			$('.roads').each(function () {
				var el = $(this);
				reloadBlock(el);
			});
		});
	</script>
{% endblock %}

