			{% if road.northbound %}
			<div class="road" count="{{ road.northbound.count }}">
				<h4>Northbound</h4>
				<div class="traffic">
					{% for section in road.northbound %}
					{% include section_template %}
					{% endfor %}
				</div>
			</div>
			{% endif %}
			{% if road.southbound %}
			<div class="road" count="{{ road.southbound.count }}">
				<h4>Southbound</h4>
				<div class="traffic">
					{% for section in road.southbound %}
					{% include section_template %}
					{% endfor %}
				</div>
			</div>
			{% endif %}
			{% if road.eastbound %}
			<div class="road" count="{{ road.eastbound.count }}">
				<h4>Eastbound</h4>
				<div class="traffic">
					{% for section in road.eastbound %}
					{% include section_template %}
					{% endfor %}
				</div>
			</div>
			{% endif %}
			{% if road.westbound %}
			<div class="road" count="{{ road.westbound.count }}">
				<h4>Westbound</h4>
				<div class="traffic">
					{% for section in road.westbound %}
					{% include section_template %}
					{% endfor %}
				</div>
			</div>
			{% endif %}
